.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  width: 10rem;
}

.button:active {
  transform: translateY(4px);
}
.buttonRoundedCorner {
  border-radius: 12px;
}
.buttonCircle {
  border-radius: 100%;
}

.div {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 10rem;
}

.value {
  font-size: 2rem;
  /* color: green; */
  color: black;
  margin: 2rem 0;
  font-weight: bold;
}

h1 {
  font-size: 10rem;
}

.fullScreenImg {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  right: 30px;
}
.photo {
  height: 30px;
  width: 30px;
  transform: scale(1, 1);
  transition: 0.1s;
}
@media screen and (max-width: 767px) {
  h1{
      font-size: 30px;
  }
  .photo {
    visibility: hidden;
  }
}